body {
  background: gainsboro;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: rgb(73, 61, 36);
}

a:hover {
  color: rgb(73, 61, 36);
}

.background {
  background-image: url("./background.png");
  background-size: cover;
  height: 650px;
  width: 650px;
  margin: 0px auto;
  margin-top: 3vh;
  border-radius: 20px;
  padding: 20px;
}

.main_button {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  height: 50px;
  width: 250px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.main_button:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 7px rgb(168, 165, 157);
}

.title {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 60px;
}

.brown {
  color: rgb(73, 61, 36);
}

.lightbrown {
  color: rgb(109, 93, 58);
}

#box{
  margin:30px;
  background: rgb(255, 255, 255, 0.7);
  border: 2px;
  border-radius: 30px;
  height: 490px;
  width: 550px;
}
hr.new1{
  width: 50%;
}
hr.new2{
  width: 100%;
}

.group{
  
}
.group_t1{
  padding: 100px;
  text-align:center;
  /*border: 5cm;
  border-width: 5px;*/
}

.group_t2{
  padding: 20px;
  text-align:left;
}
.m_dropdown{
  text-align:center;
}
.dropdown{
  top: 10px;
  left: 40px;
}
#m_selector{
  text-align: center;
  width:200px;
  height:40px;
  border-width: 3px;
  border-color: burlywood;
}

.scrollbar{
  width: 540px;
  height: 230px;
  overflow-y: scroll;
}

.page_button{
  border-width: 40px;
  border-color: black;
}

.back{
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 40px;
  height: 30px;
  width: 70px;
  display: inline-block;
  text-align: center;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.back:hover{
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 7px rgb(168, 165, 157);
}