body {
  background: gainsboro;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: rgb(73, 61, 36);
}

a:hover {
  color: rgb(73, 61, 36);
}

.background {
  background-image: url("./background.png");
  background-size: cover;
  height: 650px;
  width: 650px;
  margin: 0px auto;
  margin-top: 3vh;
  border-radius: 20px;
  padding: 20px;
}

.main_button {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  height: 50px;
  width: 250px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border: none;
}

.main_button:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 7px rgb(168, 165, 157);
}

#question_card {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  height: 400px;
  width: 400px;
  margin: 40px auto;
  padding: 20px;
}

#question_card button {
  background-color: rgba(73, 61, 36, 0.2);
  height: auto;
  border: none;
  border-radius: 10px;
  width: 320px;
  margin: 15px auto;
  display: block;
  font-weight: bold;
  padding: 10px;
}

#question_card button:hover {
  background-color: rgba(73, 61, 36, 0.4);
}

#question_card h5 {
  font-weight: bold;
  color: rgb(73, 61, 36);
  margin: 60px 10px;
  text-align: center;
}

#question_card h2 {
  text-align: center;
  font-weight: bold;
  margin-top: -20px;
  margin-bottom: 60px;
}

.title {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 60px;
}

.sub_title {
  font-size: 30px;
  font-weight: bold;
  margin: 30px auto;
  text-align: center;
}

.brown {
  color: rgb(73, 61, 36);
}

.lightbrown {
  color: rgb(109, 93, 58);
}
